.neutonimageIcon {
    position: absolute;
    top: 94px;
    left: 91px;
    width: 498px;
    height: 251px;
    object-fit: cover;
}
.neutonimagebg1Icon {
    position: absolute;
    height: 23.76%;
    width: 100%;
    top: 30.89%;
    right: 0px;
    bottom: 45.36%;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.neutonimagebg2Icon {
    position: absolute;
    top: 176px;
    left: -35px;
    width: 501px;
    height: 220px;
    object-fit: cover;
}
.neutonimagebg3Icon {
    position: absolute;
    height: 23.76%;
    width: 100%;
    top: 17.93%;
    right: 0px;
    bottom: 58.32%;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.buttonsBackground {
    position: absolute;
    height: 7.78%;
    width: 100%;
    top: 92.22%;
    right: -428px;
    bottom: 0%;
    left: 428px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;
    background-color: #fff;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.homeButtonIcon {
    position: absolute;
    height: 3.89%;
    width: 8.64%;
    top: 94.28%;
    right: 85.05%;
    bottom: 1.84%;
    left: 6.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.notificationButtonIcon {
    position: absolute;
    height: 4.05%;
    width: 7.45%;
    top: 94.03%;
    right: 8.08%;
    bottom: 1.92%;
    left: 84.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stackButtonIcon {
    position: absolute;
    height: 4.52%;
    width: 9.11%;
    top: 93.74%;
    right: 23.83%;
    bottom: 1.74%;
    left: 67.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.cursorbuttonsIcon {
    position: absolute;
    height: 1.63%;
    width: 5.16%;
    top: 91.68%;
    right: 86.91%;
    bottom: 6.68%;
    left: 7.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.listingDetails {
    position: absolute;
    height: 2.48%;
    top: 49.46%;
    left: 23px;
    font-weight: 500;
    display: inline-block;
    width: 188px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bitmart {
    position: absolute;
    height: 2.7%;
    top: 55.29%;
    left: 84px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div {
    position: absolute;
    height: 2.7%;
    top: 55.4%;
    right: 5px;
    font-weight: 500;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div1 {
    position: absolute;
    height: 2.7%;
    top: 62.85%;
    right: 6px;
    font-weight: 500;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coindcx {
    position: absolute;
    height: 2.7%;
    top: 62.85%;
    left: 84px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bitmartLogoellipse {
    position: absolute;
    height: 4.64%;
    top: 54.43%;
    bottom: 40.93%;
    left: 22px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 43px;
}
.coindcxLogoellipse {
    position: absolute;
    height: 4.64%;
    top: 61.99%;
    bottom: 33.37%;
    left: 22px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 43px;
}
.coindcxLogoIcon {
    position: absolute;
    height: 0.97%;
    top: 63.82%;
    bottom: 35.21%;
    left: 24px;
    max-height: 100%;
    width: 40px;
    object-fit: cover;
}
.bitmartLogoIcon {
    position: absolute;
    height: 4.43%;
    top: 54.32%;
    bottom: 41.25%;
    left: 14px;
    max-height: 100%;
    width: 61px;
    object-fit: cover;
}
.b {
    position: absolute;
    height: 1.19%;
    width: calc(100% - 43px);
    top: 59.72%;
    left: 25px;
    font-size: 10px;
    letter-spacing: 0.28em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
}
.b1 {
    position: absolute;
    height: 1.19%;
    width: calc(100% - 43px);
    top: 67.39%;
    left: 23px;
    font-size: 10px;
    letter-spacing: 0.28em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
}
.dropdownIcon {
    position: absolute;
    height: 0.81%;
    top: 69.35%;
    bottom: 29.84%;
    left: 208.68px;
    max-height: 100%;
    width: 12.8px;
    object-fit: contain;
}
.buynewtonrec {
    position: absolute;
    height: 9.83%;
    top: 74.3%;
    bottom: 15.87%;
    left: 35px;
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid #fff8f8;
    box-sizing: border-box;
    width: 187px;
}
.icoButtonIcon {
    position: absolute;
    height: 7.34%;
    width: 27.8%;
    top: 92.22%;
    right: 54.21%;
    bottom: 0.43%;
    left: 17.99%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.nftButtonIcon {
    position: absolute;
    height: 7.78%;
    width: 26.64%;
    top: 92.22%;
    right: 35.98%;
    bottom: 0%;
    left: 37.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.softcap {
    position: absolute;
    height: 9.4%;
    top: 29.7%;
    right: 37px;
    bottom: 60.91%;
    box-shadow: 0px 2px 9px 4px rgba(223, 220, 220, 0.71);
    border-radius: 10px;
    background-color: #000;
    width: 157px;
    opacity: 0.2;
}
.ton600 {
    position: absolute;
    height: 4.64%;
    top: 77.75%;
    bottom: 17.6%;
    left: 35px;
    background-color: #000;
    width: 188px;
    opacity: 0.2;
}
.buynewtonrectangle {
    position: absolute;
    height: 3.56%;
    top: 72.79%;
    bottom: 23.65%;
    left: 50px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 161px;
}
.buyNeuton {
    position: absolute;
    height: 1.51%;
    top: 73.33%;
    left: 69px;
    display: inline-block;
    color: #000;
    width: 154px;
}
.b2 {
    position: absolute;
    height: 4%;
    top: 77.32%;
    left: 79px;
    font-size: 40px;
    display: inline-block;
    width: 95px;
}
.ton {
    position: absolute;
    height: 4%;
    top: 78.73%;
    left: 158px;
    font-weight: 500;
    display: inline-block;
    width: 95px;
}
.profilerectangle {
    position: absolute;
    height: 4.21%;
    top: 2.92%;
    bottom: 92.87%;
    left: 14px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 140px;
}
.walletrectangle {
    position: absolute;
    height: 4.32%;
    top: 2.81%;
    right: 11px;
    bottom: 92.87%;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 172px;
}
.wxyz {
    position: absolute;
    height: 2.38%;
    top: 4%;
    left: 76px;
    font-size: 14px;
    display: inline-block;
    width: 51px;
}

.activeborderimageIcon {
    position: absolute;
 
    top: 10.83%;
    
    left: 0px;
    max-height: 100%;
    width: 336px;
    object-fit: cover;
}
.active {
    position: absolute;
    height: 49.88%;
    top: 12%;
    left: 63px;
    letter-spacing: 0.08em;
    display: inline-block;
    width: 141px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.activeborderimageParent {
    position: absolute;
    height: 4.54%;
    top: 11.45%;
    bottom: 84.01%;
    left: -92px;
    width: 336px;
}
.applynowIcon {
    position: absolute;
    height: 4.78%;
    width: 100%;
    top: 81.42%;
    right: 0px;
    bottom: 10.8%;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.walletButton {

    position: absolute;
    height: 4.22%;
    top: 2.92%;
    bottom: 92.87%;
   
    width: 140px;
    right: 2%;
 
  }
.connectWallet {
    position: absolute;
    height: 2.38%;
    top: 4.1%;
    right: 39px;
    font-size: 14px;
    display: inline-block;
    width: 135px;
}
.useropenicon {
    position: absolute;
    height: 0.75%;
    top: 4.68%;
    bottom: 94.58%;
    left: 127.46px;
    max-height: 100%;
    width: 9.1px;
    object-fit: contain;
}
.walleticon {
    position: absolute;
    height: 2.06%;
    top: 4.02%;
    right: 24.5px;
    bottom: 93.92%;
    max-height: 100%;
    width: 21px;
}
.userlogoIcon {
    position: absolute;
    height: 3.83%;
    top: 3.24%;
    bottom: 92.93%;
    left: 24px;
    max-height: 100%;
    width: 38.5px;
}
.papersIcon {
    position: absolute;
    height: 2.43%;
    top: 19.22%;
    bottom: 78.35%;
    left: 178px;
    max-height: 100%;
    width: 22.5px;
}
.neuton {
    position: absolute;
    height: 2.7%;
    top: 11.88%;
    left: 103px;
    font-size: 24px;
    letter-spacing: 0.07em;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 1px 4px #fff;
}
.telegramIcon {
    position: absolute;
    height: 2.59%;
    top: 19.33%;
    bottom: 78.08%;
    left: 48px;
    max-height: 100%;
    width: 28px;
}
.twitterIcon {
    position: absolute;
    height: 2.59%;
    top: 19.44%;
    bottom: 77.97%;
    left: 96px;
    max-height: 100%;
    width: 27px;
}
.webIcon {
    position: absolute;
    height: 2.81%;
    top: 19.22%;
    bottom: 77.97%;
    left: 137px;
    max-height: 100%;
    width: 26px;
}
.netonimageIcon {
    position: absolute;
    height: 10.58%;
    top: 8.21%;
    bottom: 81.21%;
    left: 25px;
    max-height: 100%;
    width: 78px;
    object-fit: cover;
}
.homePage3Child {
    position: absolute;
    height: 3.67%;
    top: 73.33%;
    right: 40px;
    bottom: 23%;
    border-radius: 9px;
    background-color: #000;
    border: 1px solid #fff8f8;
    box-sizing: border-box;
    width: 127px;
}
.homePage3Item {
    position: absolute;
    height: 3.46%;
    top: 77.97%;
    right: 40px;
    bottom: 18.57%;
    border-radius: 9px;
    background-color: #000;
    border: 1px solid #fff8f8;
    box-sizing: border-box;
    width: 127px;
}
.homePage3Inner {
    position: absolute;
    height: 4%;
    width: calc(100% - 98px);
    top: 86.93%;
    right: 45px;
    bottom: 9.07%;
    left: 53px;
    border-radius: 16px;
    background-color: #000;
    border: 1px solid #fff8f8;
    box-sizing: border-box;
}
.min10Ton {
    position: absolute;
    height: 1.73%;
    top: 73.97%;
    right: -24px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 173px;
}
.max500Ton {
    position: absolute;
    height: 1.62%;
    top: 78.51%;
    right: 0px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 153px;
}
.tonBalance {
    position: absolute;
    height: 1.94%;
    top: 82.51%;
    right: 13px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 178px;
}
.ton1 {
    position: absolute;
    height: 1.94%;
    top: 82.61%;
    right: -79px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 178px;
}
.buy12876321255Neuton {
    position: absolute;
    height: 1.84%;
    width: calc(100% - 134px);
    top: 87.9%;
    left: 117px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
}
.rectangleDiv {
    position: absolute;
    height: 9.4%;
    top: 29.91%;
    right: 42px;
    bottom: 60.69%;
    border-radius: 10px;
    background-color: #000;
    width: 157px;
    opacity: 0.2;
}
.full {
    position: absolute;
    height: 0.76%;
    width: calc(100% - 87px);
    top: 42.01%;
    right: 40px;
    bottom: 57.24%;
    left: 47px;
    border-radius: 10px;
    background-color: #fff;
}
.hardcap {
    position: absolute;
    height: 9.4%;
    top: 29.7%;
    bottom: 60.91%;
    left: 44px;
    box-shadow: 0px 2px 9px 4px rgba(223, 220, 220, 0.71);
    border-radius: 10px;
    background-color: #000;
    width: 157px;
    opacity: 0.2;
}
.hardCap {
    position: absolute;
    height: 1.4%;
    top: 32.07%;
    left: 96px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kTon {
    position: absolute;
    height: 1.62%;
    top: 35.64%;
    left: 46px;
    font-size: 24px;
    letter-spacing: 0.08em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 154px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hardcapIcon {
    position: absolute;
    height: 3.42%;
    top: 31.01%;
    bottom: 65.56%;
    left: 56.17px;
    max-height: 100%;
    width: 31.7px;
}
.homePage3Child1 {
    position: absolute;
    height: 9.4%;
    top: 29.7%;
    right: 39px;
    bottom: 60.91%;
    border-radius: 10px;
    background-color: #000;
    width: 155px;
}
.softCap {
    position: absolute;
    height: 1.4%;
    top: 32.29%;
    right: 50px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kTon1 {
    position: absolute;
    height: 1.62%;
    top: 35.85%;
    right: 41px;
    font-size: 24px;
    letter-spacing: 0.08em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 154px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.softcapIcon {
    position: absolute;
    height: 3.42%;
    top: 31.23%;
    right: 152.13px;
    bottom: 65.35%;
    max-height: 100%;
    width: 31.7px;
}
.full80 {
    position: absolute;
    height: 0.76%;
    top: 42.01%;
    bottom: 57.24%;
    left: 47px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: linear-gradient(90deg, #ff0004, #fdfd0c 50%, #2eff04);
    width: 229px;
}
.p {
    margin: 0;
    letter-spacing: 0.07em;
    white-space: pre-wrap;
}
.p1 {
    margin: 0;
    letter-spacing: -0.01em;
}
.txt {
    width: 100%;
}
.b3 {
    position: absolute;
    height: 3.24%;
    top: 44.17%;
    left: 65px;
    font-size: 9px;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 117px;
}
.b4 {
    position: absolute;
    height: 3.24%;
    top: 44.06%;
    right: 0px;
    font-size: 9px;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 95px;
}
.calenderIcon {
    position: absolute;
    height: 0.81%;
    top: 44.63%;
    bottom: 54.56%;
    left: 49.38px;
    max-height: 100%;
    width: 8.3px;
}
.calenderIcon1 {
    position: absolute;
    height: 0.81%;
    top: 44.52%;
    right: 102.32px;
    bottom: 54.67%;
    max-height: 100%;
    width: 8.3px;
}
.clockIcon {
    position: absolute;
    height: 0.9%;
    top: 46.02%;
    bottom: 53.08%;
    left: 49.37px;
    max-height: 100%;
    width: 8.3px;
}
.clockIcon1 {
    position: absolute;
    height: 0.9%;
    top: 45.91%;
    right: 102.33px;
    bottom: 53.19%;
    max-height: 100%;
    width: 8.3px;
}
.d02h20m {
    position: absolute;
    height: 1.08%;
    top: 44.49%;
    left: 168px;
    font-size: 9px;
    letter-spacing: 0.07em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 129px;
}
.timerIcon {
    position: absolute;
    top: calc(50% - 50.55px);
    left: 151.34px;
    width: 9.2px;
    height: 9.1px;
}
.homePage3 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 926px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Krub;
}

