
.altcoinbgIcon {
    position: fixed;
    width: 100%;
    top: 46px;
    right: 0px;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    height: 225px;
    object-fit: cover;
}
.profilerectangle {
    position: fixed;
    height: 4.21%;
    top: 2.48%;
    bottom: 93.3%;
    left: 12px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 140px;
}
.walletrectangle {
    position: fixed;
    height: 4.32%;
    top: 2.48%;
    right: 27px;
    bottom: 93.2%;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 172px;
}
.userlogoIcon {
    position: fixed;
    height: 3.83%;
    top: 3.02%;
    bottom: 93.14%;
    left: 18px;
    max-height: 100%;
    width: 38.5px;
}
.wxyz {
    position: fixed;
    height: 2.38%;
    top: 4%;
    left: 71px;
    font-size: 14px;
    display: inline-block;
    width: 51px;
}
.connectWallet {
    position: fixed;
    height: 2.38%;
    top: 3.78%;
    right: 54px;
    font-size: 14px;
    display: inline-block;
    width: 135px;
}
.useropenicon {
    position: fixed;
    height: 0.85%;
    top: 4.54%;
    bottom: 94.61%;
    left: 128px;
    max-height: 100%;
    width: 10.7px;
    object-fit: contain;
}
.walleticon {
    position: fixed;
    height: 2.38%;
    top: 3.56%;
    right: 38.3px;
    bottom: 94.06%;
    max-height: 100%;
    width: 24.7px;
}
.altcoinrec {
    position: fixed;
    height: 12.53%;
    width: calc(100% - 43px);
    top: 18.36%;
    right: 17px;
    bottom: 69.11%;
    left: 26px;
    border-radius: 15px;
    background-color: #434242;
    border: 1px solid #fff8f8;
    box-sizing: border-box;
}
.tokenpricerec {
    position: fixed;
    height: 11.77%;
    width: calc(100% - 78px);
    top: 26.35%;
    right: 33px;
    bottom: 61.88%;
    left: 45px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #fff;
}
.altcoinist {
    position: fixed;
    height: 3.67%;
    top: 20.63%;
    left: 20%;
    font-size: 32px;
    display: inline-block;
    font-family: Rambla;
    width: 185px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.homePage1Child {
    position: fixed;
    height: 1.08%;
    top: 40.82%;
    bottom: 58.1%;
    left: 150px;
    border-radius: 50%;
    background-color: #fff6f6;
    width: 10px;
}
.homePage1Item {
    position: fixed;
    height: 1.08%;
    top: 40.82%;
    bottom: 58.1%;
    left: calc(50% - 6px);
    border-radius: 50%;
    background-color: #acaeb0;
    width: 10px;
    cursor: pointer;
}
.homePage1Inner {
    position: fixed;
    height: 1.08%;
    top: 40.82%;
    right: 153px;
    bottom: 58.1%;
    border-radius: 50%;
    background-color: #acaeb0;
    width: 10px;
}

.buttonsBackground {
    position: fixed;
    height: 8.18%;
    width: 100%;
    bottom: 0%;

   
}

.cursorbuttonsIcon {
    position: fixed;
    height: 1.63%;
    width: 5.16%;
    top: 91.68%;
    right: 86.91%;
    bottom: 6.68%;
    left: 7.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.homeButtonIcon {
    position: fixed;
    height: 3.89%;
    width: 8.64%;
   
    right: 84.81%;
    bottom: 1.94%;
    left: 6.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.notificationButtonIcon {
    position: fixed;
    height: 4.05%;
    width: 7.45%;
   
    right: 7.85%;
    bottom: 2.02%;
    left: 84.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stackButtonIcon {
    position: fixed;
    height: 4.52%;
    width: 9.11%;
    
    right: 23.6%;
    bottom: 1.50%;
    left: 67.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.icoButtonIcon {
    position: fixed;
    height: 7.34%;
    width: 27.8%;
    
    right: 53.97%;
    bottom: 0.44%;
    left: 18.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.nftButtonIcon {
    position: fixed;
    height: 6.7%;
    width: 26.64%;
   
    right: 35.75%;
    bottom: 0.4%;
    left: 37.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.walletButton {

    position: fixed;
    height: 4.22%;
    top: 2.92%;
    bottom: 92.87%;
   
    width: 140px;
    right: 2%;
 
  }
.apply {
    position: fixed;
    height: 3.67%;
    bottom: 18.23%;
    right: 18%;
    font-family: 'Times New Roman';
    width: 230px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.apply1 {
    position: fixed;
    height: 6.37%;
    width: calc(100% - 83px);
    top: 65.23%;
    left: 41px;
    font-family: Karla;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.altcoinimgIcon {
    position: fixed;
    height: 4.64%;
    top: 21%;
    bottom: 75.05%;
    left:8%;
    border-radius: 50%;
    max-height: 100%;
    width: 43px;
    object-fit: cover;
}
.activeborderimageIcon {
    position: fixed;
    height: 4.54%;
    top: 13%;
    bottom: 83.69%;
    left: 5px;
    max-height: 100%;
    width: 250px;
    object-fit: cover;
}
.active {
    position: fixed;
    height: 2.27%;
    top: 13.28%;
    left: 10%;
    letter-spacing: 0.08em;
    display: inline-block;
    width: 141px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tokenPrice {
    position: fixed;
    height: 1.73%;
    top: 27.75%;
    left: 106px;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 123px;
}
.p {
    margin: 0;
    letter-spacing: 0.07em;
    white-space: pre-wrap;
}
.p1 {
    margin: 0;
    letter-spacing: -0.01em;
}
.txt {
    width: 100%;
}
.b {
    position: fixed;
    height: 2.16%;
    top: 35.42%;
    left: 88px;
    font-size: 7px;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    width: 78px;
}
.b1 {
    position: fixed;
    height: 2.16%;
    top: 35.42%;
    right: 37px;
    font-size: 7px;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    width: 78px;
}
.d02h20m {
    position: fixed;
    height: 1.08%;
    width: calc(100% - 314px);
    top: 35.53%;
    left: 180px;
    font-size: 7px;
    letter-spacing: 0.07em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
}
.usdt {
    position: fixed;
    height: 2.7%;
    top: 29.59%;
    right: 49px;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 212px;
}
.mutliplediscIcon {
    position: fixed;
    height: 3.59%;
    top: 28.51%;
    bottom: 67.9%;
    left: 81.13px;
    max-height: 100%;
    width: 16.9px;
}
.discIcon {
    position: fixed;
    height: 2.31%;
    top: 30.2%;
    bottom: 67.49%;
    left: 71px;
    max-height: 100%;
    width: 16.9px;
}
.full {
    position: fixed;
    height: 0.76%;
    width: calc(100% - 150px);
    top: 34.13%;
    right: 74px;
    bottom: 65.12%;
    left: 76px;
    border-radius: 10px;
    background-color: #434242;
}
.full80 {
    position: fixed;
    height: 0.76%;
    top: 34.13%;
    bottom: 65.12%;
    left: 76px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: linear-gradient(90deg, #ff0004, #fdfd0c 50%, #2eff04);
    width: 187px;
}
.calenderIcon {
    position: fixed;
    height: 0.57%;
    top: 35.73%;
    bottom: 63.7%;
    left: 77.88px;
    max-height: 100%;
    width: 5.3px;
}
.calenderIcon1 {
    position: fixed;
    height: 0.57%;
    top: 35.73%;
    right: 120.82px;
    bottom: 63.7%;
    max-height: 100%;
    width: 5.3px;
}
.clockIcon {
    position: fixed;
    height: 0.57%;
    top: 36.8%;
    bottom: 62.63%;
    left: 77.87px;
    max-height: 100%;
    width: 5.3px;
}
.clockIcon1 {
    position: fixed;
    height: 0.57%;
    top: 36.8%;
    right: 120.83px;
    bottom: 62.63%;
    max-height: 100%;
    width: 5.3px;
}
.days12leftIcon {
    position: fixed;
    height: 31.75%;
    top: 10.15%;
    right: 0px;
    bottom: 58.1%;
    max-height: 100%;
    width: 130px;
    object-fit: cover;
}
.timerIcon {
    position: fixed;
    height: 0.69%;
    top: 35.64%;
    bottom: 63.67%;
    left: 164px;
    max-height: 100%;
    width: 8.4px;
}
.nftimagerec {
    position: fixed;
    height: 12.85%;
    top: 45.46%;
    bottom: 41.68%;
    left: 23px;
    box-shadow: 0px 2px 3px 5px #0048ff;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #0048ff;
    box-sizing: border-box;
    width: 140px;
    opacity: 0.2;
}
.stakeimagerec {
    position: fixed;
    height: 12.85%;
    top: 45.46%;
    right: 25px;
    bottom: 41.68%;
    box-shadow: 0px 2px 3px 5px #0048ff;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #0048ff;
    box-sizing: border-box;
    width: 140px;
    opacity: 0.2;
}
.nftimageIcon {
    position: fixed;
    height: 7.67%;
    top: 47.3%;
    bottom: 45.03%;
    left: 53px;
    border-radius: 50%;
    max-height: 100%;
    width: 71px;
    object-fit: cover;
}
.stakeimageIcon {
    position: fixed;
    height: 7.67%;
    top: 47.3%;
    right: 66px;
    bottom: 45.03%;
    border-radius: 50%;
    max-height: 100%;
    width: 71px;
    object-fit: cover;
}
.nfttextrec {
    position: fixed;
    height: 4.43%;
    top: 57.13%;
    bottom: 38.44%;
    left: 33px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 116px;
}
.staketextrec {
    position: fixed;
    height: 4.43%;
    top: 57.13%;
    right: 34px;
    bottom: 38.44%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 116px;
}
.nft {
    position: fixed;
    height: 3.78%;
    top: 56.88%;
    left: 68px;
    font-size: 24px;
    letter-spacing: 0.09em;
    display: inline-block;
    font-family: Rambla;
    width: 76px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.stake {
    position: fixed;
    height: 3.78%;
    top: 56.8%;
    right: 17px;
    font-size: 24px;
    letter-spacing: 0.09em;
    display: inline-block;
    font-family: Rambla;
    width: 115px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.applynowIcon {
    position: fixed;
    height: 4%;
    width: 100%;
    bottom: 12.5%;
    overflow: hidden;
    object-fit: cover;
}
.homePage1 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 926px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Krub;
}
