.gpt360bgIcon {
    position: absolute;
    height: 24.3%;
    width: 100%;
    top: 4.97%;
    right: 0px;
    bottom: 70.73%;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.profilerectangle {
    position: absolute;
    height: 4.22%;
    top: 2.92%;
    bottom: 92.87%;
    left: 13px;
    width: 140px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    
}
.userlogoIcon {
    position: absolute;
    height: 3.84%;
    top: 3.35%;
    bottom: 92.81%;
    left: 22px;
    max-height: 100%;
    width: 38.5px;
}
.wxyz {
    position: absolute;
    top: 39px;
    left: 68px;
    font-size: 14px;
    display: inline-block;
    width: 51px;
    height: 22px;
}
.useropenicon {
    position: absolute;
    height: 0.74%;
    width: 2.12%;
    top: 4.68%;
    right: 68.34%;
    bottom: 94.58%;
    left: 29.55%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.walletButton {

    position: absolute;
    height: 4.22%;
    top: 2.92%;
    bottom: 92.87%;
   
    width: 140px;
    right: 2%;
 
  }
  .homePage1Child {
    position: absolute;
    top: 378px;
    left: 184px;
    border-radius: 50%;
    background-color: #fff6f6;
    width: 10px;
    height: 10px;
}
.homePage1Item {
    position: absolute;
    top: 378px;
    left: 208px;
    border-radius: 50%;
    background-color: #acaeb0;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.homePage1Inner {
    position: absolute;
    top: 378px;
    left: 230px;
    border-radius: 50%;
    background-color: #acaeb0;
    width: 10px;
    height: 10px;
}
  
  .walletButton button {
    background-color: #20232a; /* Matches dark UI */
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
.walletrectangle {
    position: absolute;
    top: 57px;
    left: 245px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 172px;
    height: 40px;
}
.connectWallet {
    position: absolute;
    top: 69px;
    left: 254px;
    font-size: 14px;
    display: inline-block;
    width: 135px;
    height: 22px;
}
.useropenicon {
    position: absolute;
    top: 7.8%;
    bottom: 89.31%;
    left: 130px;

}

.walleticon {
    position: absolute;
    height: 2.06%;
    width: 4.91%;
    top: 7.37%;
    right: 5.72%;
    bottom: 90.57%;
    left: 89.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.homePage2Child {
    position: absolute;
    top: 372px;
    left: 208px;
    border-radius: 50%;
    background-color: #fff6f6;
    width: 10px;
    height: 10px;
}
.homePage2Item {
    position: absolute;
    top: 372px;
    left: 186px;
    border-radius: 50%;
    background-color: #acaeb0;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.homePage2Inner {
    position: absolute;
    top: 372px;
    left: 230px;
    border-radius: 50%;
    background-color: #acaeb0;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.buttonsBackground {
    position: absolute;
    height: 7.78%;
    width: 100%;
    top: 92.22%;
    right: -430px;
    bottom: 0%;
    left: 430px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;
    background-color: #fff;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.homeButtonIcon {
    position: absolute;
    height: 3.88%;
    width: 8.65%;
    top: 94.28%;
    right: 85.04%;
    bottom: 1.84%;
    left: 6.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stackButtonIcon {
    position: absolute;
    height: 4.52%;
    width: 9.12%;
    top: 93.74%;
    right: 23.83%;
    bottom: 1.75%;
    left: 67.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.cursorbuttonsIcon {
    position: absolute;
    height: 1.63%;
    width: 5.16%;
    top: 91.68%;
    right: 86.91%;
    bottom: 6.68%;
    left: 7.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.apply {
    position: absolute;
    height: 2.48%;
    width: calc(100% - 222px);
    top: 76.45%;
    left: 109px;
    display: inline-block;
    font-family: 'Times New Roman';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.apply1 {
    position: absolute;
    height: 6.37%;
    width: calc(100% - 83px);
    top: 65.76%;
    left: 43px;
    font-family: Karla;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.activeborderimageIcon {
    position: absolute;
 
    top: 10.83%;
    
    left: 0px;
    max-height: 100%;
    width: 336px;
    object-fit: cover;
}
.active {
    position: absolute;
    height: 49.88%;
    top: 12%;
    left: 63px;
    letter-spacing: 0.08em;
    display: inline-block;
    width: 141px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.activeborderimageParent {
    position: absolute;
    height: 4.54%;
    top: 11.45%;
    bottom: 84.01%;
    left: -92px;
    width: 336px;
}
.applynowIcon {
    position: absolute;
    height: 4.78%;
    width: 100%;
    top: 81.42%;
    right: 0px;
    bottom: 10.8%;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.icoButtonIcon {
    position: absolute;
    height: 7.34%;
    width: 25.47%;
    top: 92.22%;
    right: 56.54%;
    bottom: 0.44%;
    left: 17.99%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.nftButtonIcon {
    position: absolute;
    height: 7.34%;
    width: 26.63%;
    top: 92.22%;
    right: 35.99%;
    bottom: 0.44%;
    left: 37.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.notificationButtonIcon {
    position: absolute;
    height: 4.05%;
    width: 7.44%;
    top: 94.03%;
    right: 8.1%;
    bottom: 1.92%;
    left: 84.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.gpt360rec {
    position: absolute;
    height: 12.53%;
    width: calc(100% - 78px);
    top: 18.25%;
    right: 37px;
    bottom: 69.22%;
    left: 41px;
    border-radius: 15px;
    background-color: #434242;
    border: 1px solid #fff8f8;
    box-sizing: border-box;
}
.tokenpricerec {
    position: absolute;
    height: 11.77%;
    width: calc(100% - 101px);
    top: 26.03%;
    right: 49px;
    bottom: 62.2%;
    left: 52px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #fff;
}
.days12leftIcon {
    position: absolute;
    height: 31.75%;
    top: 10.15%;
    right: 0px;
    bottom: 58.1%;
    max-height: 100%;
    width: 155px;
    object-fit: cover;
}
.gpt360 {
    position: absolute;
    height: 3.78%;
    width: calc(100% - 205px);
    top: 20.09%;
    left: 133px;
    font-size: 32px;
    display: inline-block;
    font-family: Rambla;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gpt360imageIcon {
    position: absolute;
    height: 4.65%;
    top: 19.87%;
    bottom: 75.48%;
    left: 63px;
    border-radius: 50%;
    max-height: 100%;
    width: 43px;
    object-fit: cover;
}
.tokenPrice {
    position: absolute;
    height: 1.73%;
    top: 27.11%;
    left: 106px;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 123px;
}
.p {
    margin: 0;
    letter-spacing: 0.07em;
    white-space: pre-wrap;
}
.p1 {
    margin: 0;
    letter-spacing: -0.01em;
}
.txt {
    width: 100%;
}
.b {
    position: absolute;
    height: 2.16%;
    top: 34.67%;
    left: 88px;
    font-size: 7px;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    width: 78px;
}
.b1 {
    position: absolute;
    height: 2.16%;
    top: 34.67%;
    right: 37px;
    font-size: 7px;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    width: 78px;
}
.d02h20m {
    position: absolute;
    height: 1.08%;
    width: calc(100% - 314px);
    top: 34.77%;
    left: 180px;
    font-size: 7px;
    letter-spacing: 0.07em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
}
.usdt {
    position: absolute;
    height: 2.7%;
    top: 29.05%;
    left: 106px;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 212px;
}
.mutliplediscIcon {
    position: absolute;
    height: 3.59%;
    top: 27.21%;
    bottom: 69.19%;
    left: 81.13px;
    max-height: 100%;
    width: 16.9px;
}
.discIcon {
    position: absolute;
    height: 2.31%;
    top: 29.01%;
    bottom: 68.68%;
    left: 68px;
    max-height: 100%;
    width: 16.9px;
}
.full {
    position: absolute;
    height: 0.75%;
    width: calc(100% - 150px);
    top: 33.15%;
    right: 74px;
    bottom: 66.1%;
    left: 76px;
    border-radius: 10px;
    background-color: #434242;
}
.full80 {
    position: absolute;
    height: 0.75%;
    top: 33.15%;
    bottom: 66.1%;
    left: 76px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: linear-gradient(90deg, #ff0004, #fdfd0c 50%, #2eff04);
    width: 187px;
}
.calenderIcon {
    position: absolute;
    height: 0.57%;
    top: 34.98%;
    bottom: 64.46%;
    left: 77.88px;
    max-height: 100%;
    width: 5.3px;
}
.calenderIcon1 {
    position: absolute;
    height: 0.57%;
    top: 34.98%;
    right: 120.82px;
    bottom: 64.46%;
    max-height: 100%;
    width: 5.3px;
}
.clockIcon {
    position: absolute;
    height: 0.57%;
    top: 35.93%;
    bottom: 63.5%;
    left: 77.87px;
    max-height: 100%;
    width: 5.3px;
}
.clockIcon1 {
    position: absolute;
    height: 0.57%;
    top: 35.93%;
    right: 120.83px;
    bottom: 63.5%;
    max-height: 100%;
    width: 5.3px;
}
.timerIcon {
    position: absolute;
    height: 0.69%;
    top: 34.92%;
    bottom: 64.4%;
    left: calc(50% - 44.76px);
    max-height: 100%;
    width: 8.4px;
}
.nftimagerec {
    position: absolute;
    top: 421px;
    left: 42px;
    box-shadow: 0px 2px 3px 5px #0048ff;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #0048ff;
    box-sizing: border-box;
    width: 158px;
    height: 119px;
    opacity: 0.2;
}
.stakeimagerec {
    position: absolute;
    top: 421px;
    right: 39px;
    box-shadow: 0px 2px 3px 5px #0048ff;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #0048ff;
    box-sizing: border-box;
    width: 158px;
    height: 119px;
    opacity: 0.2;
}
.nftimageIcon {
    position: absolute;
    top: 432px;
    left: 85px;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    object-fit: cover;
}
.stakeimageIcon {
    position: absolute;
    top: 432px;
    right: 83px;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    object-fit: cover;
}
.nfttextrec {
    position: absolute;
    top: 523px;
    left: 55px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 135px;
    height: 41px;
}
.staketextrec {
    position: absolute;
    top: 523px;
    right: 51px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 135px;
    height: 41px;
}
.nft {
    position: absolute;
    top: 529px;
    left: 96px;
    font-size: 24px;
    letter-spacing: 0.09em;
    display: inline-block;
    font-family: Rambla;
    width: 76px;
    height: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.stake {
    position: absolute;
    top: 529px;
    right: 38px;
    font-size: 24px;
    letter-spacing: 0.09em;
    display: inline-block;
    font-family: Rambla;
    width: 115px;
    height: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.homePage2 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 932px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Krub;
}

