
.gpt360bgIcon {
    position: fixed;
    height: 24.3%;
    width: 100%;
    top: 4.97%;
    right: 0px;
    bottom: 70.73%;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.profilerectangle {
    position: fixed;
    height: 4.21%;
    top: 2.92%;
    bottom: 92.87%;
    left: 13px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 140px;
}
.walletrectangle {
    position: fixed;
    height: 4.32%;
    top: 2.81%;
    right: 12px;
    bottom: 92.87%;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 172px;
}
.userlogoIcon {
    position: fixed;
    height: 3.84%;
    top: 3.35%;
    bottom: 92.81%;
    left: 22px;
    max-height: 100%;
    width: 38.5px;
}
.wxyz {
    position: fixed;
    height: 2.38%;
    top: 4.21%;
    left: 68px;
    font-size: 14px;
    display: inline-block;
    width: 51px;
}
.connectWallet {
    position: fixed;
    height: 2.38%;
    top: 4.1%;
    right: 40px;
    font-size: 14px;
    display: inline-block;
    width: 135px;
}
.useropenicon {
    position: fixed;
    height: 0.74%;
    top: 4.68%;
    bottom: 94.58%;
    left: 127.05px;
    max-height: 100%;
    width: 9.1px;
    object-fit: contain;
}
.walleticon {
    position: fixed;
    height: 2.07%;
    width: 4.91%;
    top: 4.02%;
    right: 5.96%;
    bottom: 93.91%;
    left: 89.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.homePage2Child {
    position: fixed;
    height: 1.08%;
    top: 40.17%;
    bottom: 58.74%;
    left: calc(50% - 5.5px);
    border-radius: 50%;
    background-color: #fff6f6;
    width: 10px;
}
.homePage2Item {
    position: fixed;
    height: 1.08%;
    top: 40.17%;
    bottom: 58.74%;
    left: 150px;
    border-radius: 50%;
    background-color: #acaeb0;
    width: 10px;
    cursor: pointer;
}
.homePage2Inner {
    position: fixed;
    height: 1.08%;
    top: 40.17%;
    right: 151px;
    bottom: 58.74%;
    border-radius: 50%;
    background-color: #acaeb0;
    width: 10px;
    cursor: pointer;
}

.buttonsBackground {
    position: fixed;
    height: 8.18%;
    width: 100%;
    bottom: 0%;

   
}

.cursorbuttonsIcon {
    position: fixed;
    height: 1.63%;
    width: 5.16%;
    top: 91.68%;
    right: 86.91%;
    bottom: 6.68%;
    left: 7.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.homeButtonIcon {
    position: fixed;
    height: 3.89%;
    width: 8.64%;
   
    right: 84.81%;
    bottom: 1.94%;
    left: 6.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.notificationButtonIcon {
    position: fixed;
    height: 4.05%;
    width: 7.45%;
   
    right: 7.85%;
    bottom: 2.02%;
    left: 84.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stackButtonIcon {
    position: fixed;
    height: 4.52%;
    width: 9.11%;
    
    right: 23.6%;
    bottom: 1.50%;
    left: 67.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.icoButtonIcon {
    position: fixed;
    height: 7.34%;
    width: 27.8%;
    
    right: 53.97%;
    bottom: 0.44%;
    left: 18.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.nftButtonIcon {
    position: fixed;
    height: 6.7%;
    width: 26.64%;
   
    right: 35.75%;
    bottom: 0.4%;
    left: 37.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.walletButton {

    position: fixed;
    height: 4.22%;
    top: 2.92%;
    bottom: 92.87%;
   
    width: 140px;
    right: 2%;
 
  }
  .apply {
    position: fixed;
    height: 3.67%;
    bottom: 18.23%;
    right: 18%;
    font-family: 'Times New Roman';
    width: 230px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.apply1 {
    position: fixed;
    height: 6.37%;
    width: calc(100% - 83px);
    top: 65.76%;
    left: 43px;
    font-family: Karla;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.activeborderimageIcon {
    position: fixed;
    height: 4.54%;
    top: 13%;
    bottom: 83.69%;
    left: 5px;
    max-height: 100%;
    width: 250px;
    object-fit: cover;
}
.active {
    position: fixed;
    height: 2.27%;
    top: 13.28%;
    left: 10%;
    letter-spacing: 0.08em;
    display: inline-block;
    width: 141px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.activeborderimageParent {
    position: fixed;
    height: 4.68%;
    top: 11.23%;
    bottom: 84.09%;
    left: -79px;
    width: 336px;
}
.applynowIcon {
    position: fixed;
    height: 4%;
    width: 100%;
    bottom: 12.5%;
    overflow: hidden;
    object-fit: cover;
}

.gpt360rec {
    position: fixed;
    height: 12.52%;
    width: calc(100% - 52px);
    top: 18.25%;
    right: 25px;
    bottom: 69.22%;
    left: 27px;
    border-radius: 15px;
    background-color: #434242;
    border: 1px solid #fff8f8;
    box-sizing: border-box;
}
.tokenpricerec {
    position: fixed;
    height: 11.77%;
    width: calc(100% - 80px);
    top: 26.03%;
    right: 40px;
    bottom: 62.2%;
    left: 40px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #fff;
}
.days12leftIcon {
    position: fixed;
    height: 31.75%;
    top: 10.15%;
    right: 0px;
    bottom: 58.1%;
    max-height: 100%;
    width: 134px;
    object-fit: cover;
}
.gpt360 {
    position: fixed;
    height: 3.78%;
    top: 19.3%;
    left: 110px;
    font-size: 32px;
    display: inline-block;
    font-family: Rambla;
    width: 223px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gpt360imageIcon {
    position: fixed;
    height: 4.64%;
    top: 20.3%;
    bottom: 75.05%;
    left: 50px;
    border-radius: 50%;
    max-height: 100%;
    width: 43px;
    object-fit: cover;
}
.tokenPrice {
    position: fixed;
    height: 1.72%;
    top: 27.11%;
    left: 106px;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 123px;
}
.p {
    margin: 0;
    letter-spacing: 0.07em;
    white-space: pre-wrap;
}
.p1 {
    margin: 0;
    letter-spacing: -0.01em;
}
.txt {
    width: 100%;
}
.b {
    position: fixed;
    height: 2.16%;
    top: 34.67%;
    left: 88px;
    font-size: 7px;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    width: 78px;
}
.b1 {
    position: fixed;
    height: 2.16%;
    top: 34.67%;
    right: 37px;
    font-size: 7px;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    width: 78px;
}
.d02h20m {
    position: fixed;
    height: 1.08%;
    width: calc(100% - 314px);
    top: 35.1%;
    left: 180px;
    font-size: 7px;
    letter-spacing: 0.07em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
}
.usdt {
    position: fixed;
    height: 2.7%;
    top: 29.05%;
    right: 42px;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 130.08%;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 212px;
}
.mutliplediscIcon {
    position: fixed;
    height: 3.6%;
    top: 28.08%;
    bottom: 68.33%;
    left: 70px;
    max-height: 100%;
    width: 16.9px;
}
.discIcon {
    position: fixed;
    height: 2.3%;
    top: 29.55%;
    bottom: 68.15%;
    left: 63px;
    max-height: 100%;
    width: 16.9px;
}
.full {
    position: fixed;
    height: 0.75%;
    width: calc(100% - 150px);
    top: 33.15%;
    right: 74px;
    bottom: 66.1%;
    left: 76px;
    border-radius: 10px;
    background-color: #434242;
}
.full80 {
    position: fixed;
    height: 0.75%;
    top: 33.15%;
    bottom: 66.1%;
    left: 76px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: linear-gradient(90deg, #ff0004, #fdfd0c 50%, #2eff04);
    width: 187px;
}
.calenderIcon {
    position: fixed;
    height: 0.57%;
    top: 34.98%;
    bottom: 64.46%;
    left: 77.88px;
    max-height: 100%;
    width: 5.3px;
}
.calenderIcon1 {
    position: fixed;
    height: 0.57%;
    top: 34.98%;
    right: 120.82px;
    bottom: 64.46%;
    max-height: 100%;
    width: 5.3px;
}
.clockIcon {
    position: fixed;
    height: 0.57%;
    top: 35.93%;
    bottom: 63.5%;
    left: 77.87px;
    max-height: 100%;
    width: 5.3px;
}
.clockIcon1 {
    position: fixed;
    height: 0.57%;
    top: 35.93%;
    right: 120.83px;
    bottom: 63.5%;
    max-height: 100%;
    width: 5.3px;
}
.timerIcon {
    position: fixed;
    height: 0.69%;
    top: 35.24%;
    bottom: 64.07%;
    left: 169.24px;
    max-height: 100%;
    width: 8.4px;
}
.nftimagerec {
    position: fixed;
    height: 12.84%;
    top: 45.46%;
    bottom: 41.69%;
    left: 23px;
    box-shadow: 0px 2px 3px 5px #0048ff;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #0048ff;
    box-sizing: border-box;
    width: 140px;
    opacity: 0.2;
}
.stakeimagerec {
    position: fixed;
    height: 12.84%;
    top: 45.46%;
    right: 25px;
    bottom: 41.69%;
    box-shadow: 0px 2px 3px 5px #0048ff;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #0048ff;
    box-sizing: border-box;
    width: 140px;
    opacity: 0.2;
}
.nftimageIcon {
    position: fixed;
    height: 7.67%;
    top: 47.19%;
    bottom: 45.14%;
    left: 56px;
    border-radius: 50%;
    max-height: 100%;
    width: 71px;
    object-fit: cover;
}
.stakeimageIcon {
    position: fixed;
    height: 7.67%;
    top: 47.3%;
    right: 61px;
    bottom: 45.03%;
    border-radius: 50%;
    max-height: 100%;
    width: 71px;
    object-fit: cover;
}
.nfttextrec {
    position: fixed;
    height: 4.43%;
    top: 57.13%;
    bottom: 38.44%;
    left: 35px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 116px;
}
.staketextrec {
    position: fixed;
    height: 4.43%;
    top: 57.13%;
    right: 34px;
    bottom: 38.44%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 116px;
}
.nft {
    position: fixed;
    height: 3.78%;
    top: 56.88%;
    left: 68px;
    font-size: 24px;
    letter-spacing: 0.09em;
    display: inline-block;
    font-family: Rambla;
    width: 76px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.stake {
    position: fixed;
    height: 3.78%;
    top: 56.8%;
    right: 17px;
    font-size: 24px;
    letter-spacing: 0.09em;
    display: inline-block;
    font-family: Rambla;
    width: 115px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.homePage2 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 926px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Krub;
}

