.pricerectangle {
    position: fixed;
    height: 3.67%;
    top: 23.43%;
    right: 18px;
    bottom: 72.89%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
}
.pricerectangle1 {
    position: fixed;
    height: 3.67%;
    top: 41.14%;
    right: 18px;
    bottom: 55.18%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
}
.pricerectangle2 {
    position: fixed;
    height: 3.67%;
    top: 58.96%;
    right: 18px;
    bottom: 37.37%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
}
.pricerectangle3 {
    position: fixed;
    height: 3.67%;
    top: 76.35%;
    right: 18px;
    bottom: 19.98%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
}
.profilerectangle {
    position: fixed;
    height: 4.21%;
    top: 3.24%;
    bottom: 92.55%;
    left: 14px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 140px;
}

.userlogoIcon {
    position: fixed;
    height: 3.77%;
    top: 3.57%;
    bottom: 92.66%;
    left: 18.15px;
    max-height: 100%;
    width: 40.9px;
}
.wxyz {
    position: fixed;
    height: 2.38%;
    top: 4.32%;
    left: 76px;
    font-size: 14px;
    display: inline-block;
    width: 51px;
}

.useropenicon {
    position: fixed;
    height: 0.97%;
    top: 4.81%;
    bottom: 94.22%;
    left: 129.38px;
    max-height: 100%;
    width: 6.8px;
    object-fit: contain;
}
.walleticon {
    position: fixed;
    height: 2.06%;
    top: 4.34%;
    right: 24.5px;
    bottom: 93.6%;
    max-height: 100%;
    width: 21px;
}
.auerectangle {
    position: fixed;
    height: 9.05%;
    width: 100%;
    top: 10.12%;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
   
   
}
.activerectangle {
    position: fixed;
    height: 3.69%;
    top: 12.27%;
    bottom: 84.04%;
    left: 7px;
    border-radius: 20px;
    background-color: #000;
    width: 134px;
}
.active {
    position: fixed;
    height: 2.06%;
    top: 13.03%;
    left: 16px;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 96px;
}
.upcoming {
    position: fixed;
    height: 2.06%;
    top: 13.14%;
    left: calc(50% - 50px);
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 131px;
    cursor: pointer;
}
.ended {
    position: fixed;
    height: 2.06%;
    top: 13.14%;
    right: 3px;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 131px;
}
.activeicon {
    position: fixed;
    height: 2.05%;
    top: 13.03%;
    bottom: 84.92%;
    left: 110px;
    max-height: 100%;
    width: 18px;
}
.auerectanglestatus {
    position: fixed;
    height: 0.54%;
    top: 17%;
    bottom: 81.75%;
    left: -2px;
    background-color: #0048ff;
    width: 154px;
}
.auerectangleborder {
    position: fixed;
    height: 0.54%;
    width: calc(100% - 154px);
    top: 17%;
    right: 0px;
    bottom: 81.75%;
    left: 154px;
    background-color: rgba(223, 220, 220, 0.71);
}
.usdt {
    position: fixed;
    height: 2.27%;
    top: 24.08%;
    right: 18px;
    font-size: 18px;
    font-family: 'Merriweather Sans';
    display: inline-block;
    width: 113px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt1 {
    position: fixed;
    height: 1.73%;
    top: 41.79%;
    right: 18px;
    font-size: 18px;
    font-family: 'Merriweather Sans';
    display: inline-block;
    width: 110px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt2 {
    position: fixed;
    height: 1.73%;
    top: 59.61%;
    right: 6px;
    font-size: 18px;
    font-family: 'Merriweather Sans';
    display: inline-block;
    width: 110px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt3 {
    position: fixed;
    height: 1.73%;
    top: 77%;
    right: 6px;
    font-size: 18px;
    font-family: 'Merriweather Sans';
    display: inline-block;
    width: 110px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inshape {
    position: fixed;
    height: 2.7%;
    top: 22.89%;
    left: 89px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.arrakis {
    position: fixed;
    height: 2.7%;
    top: 40.6%;
    left: 87px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.metacloud {
    position: fixed;
    height: 2.7%;
    top: 58.42%;
    left: 87px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inshape1 {
    position: fixed;
    height: 2.7%;
    top: 75.81%;
    left: 87px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blockchainService {
    position: fixed;
    height: 2.7%;
    width: calc(100% - 268px);
    top: 25.81%;
    left: 90px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.protocol {
    position: fixed;
    height: 2.7%;
    width: calc(100% - 268px);
    top: 43.52%;
    left: 88px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vr {
    position: fixed;
    height: 2.7%;
    width: calc(100% - 268px);
    top: 61.34%;
    left: 88px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blockchainService1 {
    position: fixed;
    height: 2.7%;
    width: calc(100% - 268px);
    top: 78.73%;
    left: 88px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress {
    position: fixed;
    height: 1.73%;
    top: 35.64%;
    right: 16px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress1 {
    position: fixed;
    height: 1.73%;
    top: 53.35%;
    right: 18px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress2 {
    position: fixed;
    height: 1.73%;
    top: 71.17%;
    right: 18px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress3 {
    position: fixed;
    height: 1.73%;
    top: 88.55%;
    right: 14px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated {
    position: fixed;
    height: 1.73%;
    top: 27.86%;
    right: 9px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated1 {
    position: fixed;
    height: 1.73%;
    top: 45.57%;
    right: 9px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated2 {
    position: fixed;
    height: 1.73%;
    top: 63.39%;
    right: 9px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated3 {
    position: fixed;
    height: 1.73%;
    top: 80.78%;
    right: 11px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dLeft {
    position: fixed;
    height: 1.73%;
    top: 30.02%;
    right: -11px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dLeft1 {
    position: fixed;
    height: 1.73%;
    top: 47.73%;
    right: -7px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dLeft2 {
    position: fixed;
    height: 1.73%;
    top: 65.55%;
    right: -4px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dLeft3 {
    position: fixed;
    height: 1.73%;
    top: 82.94%;
    right: -7px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttonsBackground {
    position: fixed;
    height: 8.18%;
    width: 100%;
    bottom: 0%;

   
}

.cursorbuttonsIcon {
    position: fixed;
    height: 1.63%;
    width: 5.16%;
    
    right: 66.81%;
    bottom: 6.3%;
    left: 28.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.homeButtonIcon {
    position: fixed;
    height: 3.89%;
    width: 8.64%;
   
    right: 84.81%;
    bottom: 1.94%;
    left: 6.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.notificationButtonIcon {
    position: fixed;
    height: 4.05%;
    width: 7.45%;
   
    right: 7.85%;
    bottom: 2.02%;
    left: 84.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stackButtonIcon {
    position: fixed;
    height: 4.52%;
    width: 9.11%;
    
    right: 23.6%;
    bottom: 1.50%;
    left: 67.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.icoButtonIcon {
    position: fixed;
    height: 7.34%;
    width: 27.8%;
    
    right: 53.97%;
    bottom: 0.44%;
    left: 18.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.nftButtonIcon {
    position: fixed;
    height: 6.7%;
    width: 26.64%;
   
    right: 35.75%;
    bottom: 0.4%;
    left: 37.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.walletButton {

    position: fixed;
    height: 4.22%;
    top: 2.92%;
    bottom: 92.87%;
   
    width: 140px;
    right: 2%;
 
  }
.inshapedark {
    position: fixed;
    height: 0.86%;
    width: calc(100% - 73px);
    top: 34.02%;
    right: 18px;
    bottom: 65.12%;
    left: 55px;
    border-radius: 10px;
    background-color: #434242;
}
.arrakisdark {
    position: fixed;
    height: 0.86%;
    width: calc(100% - 71px);
    top: 51.73%;
    right: 18px;
    bottom: 47.41%;
    left: 53px;
    border-radius: 10px;
    background-color: #434242;
}
.metaclouddark {
    position: fixed;
    height: 0.86%;
    width: calc(100% - 71px);
    top: 69.55%;
    right: 18px;
    bottom: 29.59%;
    left: 53px;
    border-radius: 10px;
    background-color: #434242;
}
.inshapedark1 {
    position: fixed;
    height: 0.86%;
    width: calc(100% - 71px);
    top: 86.93%;
    right: 18px;
    bottom: 12.2%;
    left: 53px;
    border-radius: 10px;
    background-color: #434242;
}
.arrakis1 {
    position: fixed;
    height: 0.86%;
    top: 51.73%;
    bottom: 47.41%;
    left: 26px;
    border-radius: 10px;
    background-color: #fff;
    width: 76px;
}
.usdt4 {
    position: fixed;
    height: 2.7%;
    top: 31.32%;
    left: 24px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt5 {
    position: fixed;
    height: 2.7%;
    top: 49.03%;
    left: 22px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt6 {
    position: fixed;
    height: 2.7%;
    top: 66.85%;
    left: 22px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt7 {
    position: fixed;
    height: 2.7%;
    top: 84.23%;
    left: 22px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.arrakisimageborder {
    position: fixed;
    height: 6.05%;
    top: 40.39%;
    bottom: 53.56%;
    left: 21px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
}
.metacloudimageborder {
    position: fixed;
    height: 6.05%;
    top: 58.32%;
    bottom: 35.64%;
    left: 23px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
}
.inshapeimageborder {
    position: fixed;
    height: 6.05%;
    top: 75.59%;
    bottom: 18.36%;
    left: 21px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
}
.b {
    position: fixed;
    height: 1.19%;
    width: calc(100% - 67px);
    top: 38.12%;
    left: 41px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
}
.b1 {
    position: fixed;
    height: 1.51%;
    width: calc(100% - 67px);
    top: 55.83%;
    left: 41px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
}
.b2 {
    position: fixed;
    height: 1.19%;
    width: calc(100% - 67px);
    top: 73.54%;
    left: 38px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
}
.inshapeimageborder1 {
    position: fixed;
    height: 6.05%;
    top: 22.68%;
    bottom: 71.27%;
    left: 18px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
}
.inshapeimageIcon {
    position: fixed;
    height: 3.78%;
    top: 23.87%;
    bottom: 72.35%;
    left: 29px;
    max-height: 100%;
    width: 32px;
    object-fit: cover;
}
.inshape2 {
    position: fixed;
    height: 0.86%;
    top: 34.02%;
    bottom: 65.12%;
    left: 24px;
    border-radius: 10px;
    background-color: #fff;
    width: 130px;
}
.metacloud1 {
    position: fixed;
    height: 0.86%;
    top: 69.55%;
    bottom: 29.59%;
    left: 22px;
    border-radius: 10px;
    background-color: #fff;
    width: 155px;
}
.inshape3 {
    position: fixed;
    height: 0.86%;
    top: 86.93%;
    bottom: 12.2%;
    left: 22px;
    border-radius: 10px;
    background-color: #fff;
    width: 155px;
}
.arrakisimageIcon {
    position: fixed;
    height: 4%;
    top: 41.79%;
    bottom: 54.21%;
    left: 29px;
    max-height: 100%;
    width: 38px;
    object-fit: cover;
}
.metacloudimageIcon {
    position: fixed;
    height: 4.75%;
    top: 58.86%;
    bottom: 36.39%;
    left: 29px;
    max-height: 100%;
    width: 45px;
    object-fit: cover;
}
.inshapeimageIcon1 {
    position: fixed;
    height: 3.78%;
    top: 76.89%;
    bottom: 19.33%;
    left: 29px;
    max-height: 100%;
    width: 32px;
    object-fit: cover;
}
.dropdownico4Icon {
    position: fixed;
    height: 0.81%;
    width: 2.99%;
    top: 90.19%;
    right: 49.42%;
    bottom: 9%;
    left: 47.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.ico3 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 926px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    color: #fff;
    font-family: Krub;
}

