.goalrectangle {
    position: fixed;
    height: 3.67%;
    top: 23.43%;
    right: 20px;
    bottom: 72.89%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
}
.profilerectangle {
    position: fixed;
    height: 4.21%;
    top: 3.13%;
    bottom: 92.66%;
    left: 14px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 140px;
}
.userlogoIcon {
    position: fixed;
    height: 3.55%;
    top: 3.57%;
    bottom: 92.87%;
    left: 23.15px;
    max-height: 100%;
    width: 36.8px;
}
.wxyz {
    position: fixed;
    height: 2.38%;
    top: 4.32%;
    left: 76px;
    font-size: 14px;
    display: inline-block;
    width: 51px;
}
.connectWallet {
    position: fixed;
    height: 2.38%;
    top: 4.54%;
    right: 39px;
    font-size: 14px;
    display: inline-block;
    width: 135px;
}
.useropenicon {
    position: fixed;
    height: 0.97%;
    top: 4.7%;
    bottom: 94.33%;
    left: 129.38px;
    max-height: 100%;
    width: 6.8px;
    object-fit: contain;
}
.walleticon {
    position: fixed;
    height: 2.06%;
    top: 4.45%;
    right: 24.5px;
    bottom: 93.49%;
    max-height: 100%;
    width: 21px;
}
.goalNotSet {
    position: fixed;
    height: 2.48%;
    top: 24.08%;
    right: 13px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 131px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress {
    position: fixed;
    height: 1.73%;
    top: 35.64%;
    right: 24px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated {
    position: fixed;
    height: 1.73%;
    top: 27.86%;
    right: 9px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dec {
    position: fixed;
    height: 1.73%;
    top: 30.02%;
    right: -11px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.goalrectangle1 {
    position: fixed;
    height: 3.67%;
    top: 41.14%;
    right: 20px;
    bottom: 55.18%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
}
.goalrectangle2 {
    position: fixed;
    height: 3.67%;
    top: 58.96%;
    right: 21px;
    bottom: 37.37%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
}
.goalrectangle3 {
    position: fixed;
    height: 3.67%;
    top: 76.35%;
    right: 21px;
    bottom: 19.98%;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
}
.goal50000 {
    position: fixed;
    height: 1.73%;
    top: 41.79%;
    right: 5px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 137px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.goal20000 {
    position: fixed;
    height: 1.73%;
    top: 59.61%;
    right: -2px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 143px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.goal25000 {
    position: fixed;
    height: 1.84%;
    top: 77%;
    right: -9px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 151px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress1 {
    position: fixed;
    height: 1.73%;
    top: 53.35%;
    right: 20px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress2 {
    position: fixed;
    height: 1.73%;
    top: 71.17%;
    right: 20px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress3 {
    position: fixed;
    height: 1.73%;
    top: 88.55%;
    right: 20px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated1 {
    position: fixed;
    height: 1.73%;
    top: 45.57%;
    right: 9px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated2 {
    position: fixed;
    height: 1.73%;
    top: 63.39%;
    right: 9px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated3 {
    position: fixed;
    height: 1.73%;
    top: 80.78%;
    right: 9px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dec1 {
    position: fixed;
    height: 1.73%;
    top: 47.73%;
    right: -13px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dec2 {
    position: fixed;
    height: 1.73%;
    top: 65.55%;
    right: -9px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dec3 {
    position: fixed;
    height: 1.73%;
    top: 82.94%;
    right: -4px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bovinverseimageborder {
    position: fixed;
    height: 6.05%;
    top: 22.68%;
    bottom: 71.27%;
    left: 21px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
}.buttonsBackground {
    position: fixed;
    height: 8.18%;
    width: 100%;
    bottom: 0%;

   
}

.cursorbuttonsIcon {
    position: fixed;
    height: 1.63%;
    width: 5.16%;
    
    right: 66.81%;
    bottom: 6.3%;
    left: 28.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.homeButtonIcon {
    position: fixed;
    height: 3.89%;
    width: 8.64%;
   
    right: 84.81%;
    bottom: 1.94%;
    left: 6.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.notificationButtonIcon {
    position: fixed;
    height: 4.05%;
    width: 7.45%;
   
    right: 7.85%;
    bottom: 2.02%;
    left: 84.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stackButtonIcon {
    position: fixed;
    height: 4.52%;
    width: 9.11%;
    
    right: 23.6%;
    bottom: 1.50%;
    left: 67.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.icoButtonIcon {
    position: fixed;
    height: 7.34%;
    width: 27.8%;
    
    right: 53.97%;
    bottom: 0.44%;
    left: 18.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.nftButtonIcon {
    position: fixed;
    height: 6.7%;
    width: 26.64%;
   
    right: 35.75%;
    bottom: 0.4%;
    left: 37.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.walletButton {

    position: fixed;
    height: 4.22%;
    top: 2.92%;
    bottom: 92.87%;
   
    width: 140px;
    right: 2%;
 
  }
.bovinversedark {
    position: fixed;
    height: 0.86%;
    width: calc(100% - 67px);
    top: 34.02%;
    right: 21px;
    bottom: 65.12%;
    left: 46px;
    border-radius: 10px;
    background-color: #434242;
}
.chirplaydark {
    position: fixed;
    height: 0.86%;
    width: calc(100% - 62px);
    top: 51.73%;
    right: 18px;
    bottom: 47.41%;
    left: 44px;
    border-radius: 10px;
    background-color: #434242;
}
.metaclouddark {
    position: fixed;
    height: 0.86%;
    width: calc(100% - 60px);
    top: 69.55%;
    right: 16px;
    bottom: 29.59%;
    left: 44px;
    border-radius: 10px;
    background-color: #434242;
}
.inshapedark {
    position: fixed;
    height: 0.86%;
    width: calc(100% - 60px);
    top: 86.93%;
    right: 16px;
    bottom: 12.2%;
    left: 44px;
    border-radius: 10px;
    background-color: #434242;
}
.chirplay{
        position: fixed;
        height: 2.7%;
        top: 40.6%;
        left: 87px;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        width: 112px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.chirplay1 {
    position: fixed;
    height: 0.86%;
    top: 51.73%;
    bottom: 47.41%;
    left: 26px;
    border-radius: 10px;
    background-color: #fff;
    width: 76px;
}
.dropdownico4Icon {
    position: fixed;
    height: 0.81%;
    width: 2.99%;
    top: 90.19%;
    right: 49.42%;
    bottom: 9%;
    left: 47.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.auerectangle {
    position: fixed;
    height: 9.05%;
    width: 100%;
    top: 10.12%;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
   
   
}
.upcomingrectangle {
    position: fixed;
    right: 129px;
    height: 3.69%;
    top: 12.27%;
    bottom: 84.04%;
    border-radius: 20px;
    background-color: #000;
    width: 150px;
}
.active {
    position: fixed;
    height: 2.05%;
    top: 13.19%;
    left: 8px;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 96px;
}
.upcoming {
    position: fixed;
    height: 2.05%;
    top: 13.17%;
    right: 153px;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 120px;
}
.ended {
    position: fixed;
    height: 2.05%;
    top: 13.3%;
    right: -1px;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 131px;
}
.upcomingicon {
    position: fixed;
    height: 2.04%;
    top: 13.17%;
    right: 138px;
    bottom: 84.78%;
    max-height: 100%;
    width: 18px;
}
.auerectangleborder {
    position: fixed;
    height: 0.54%;
    width: 100%;
    top: 17%;
    right: 0px;
    bottom: 81.75%;
    left: 0px;
    background-color: rgba(223, 220, 220, 0.71);
}
.auerectanglestatus {
    position: fixed;
    height: 0.54%;
    width: 154px;
    top: 17%;
    
    bottom: 81.64%;
    left: 105px;
    background-color: #0048ff;
}
.inshape {
    position: fixed;
    height: 2.7%;
    top: 75.81%;
    left: 89px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bovinverse {
    position: fixed;
    height: 2.7%;
    top: 22.89%;
    left: 89px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.metacloud {
    position: fixed;
    height: 2.7%;
    top: 58.42%;
    left: 87px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.plateform {
    position: fixed;
    height: 2.7%;
    width: calc(100% - 268px);
    top: 25.81%;
    left: 90px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.marketplace {
    position: fixed;
    height: 2.7%;
    width: calc(100% - 268px);
    top: 43.52%;
    left: 88px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vr {
    position: fixed;
    height: 2.7%;
    width: calc(100% - 268px);
    top: 61.34%;
    left: 88px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blockchainService {
    position: fixed;
    height: 2.7%;
    width: calc(100% - 268px);
    top: 78.73%;
    left: 89px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt {
    position: fixed;
    height: 2.7%;
    top: 31.32%;
    left: 27px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt1 {
    position: fixed;
    height: 2.7%;
    top: 49.03%;
    left: 25px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt2 {
    position: fixed;
    height: 2.7%;
    top: 66.85%;
    left: 25px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt3 {
    position: fixed;
    height: 2.7%;
    top: 84.23%;
    left: 25px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.chirplayimageborder {
    position: fixed;
    height: 6.05%;
    top: 40.39%;
    bottom: 53.56%;
    left: 19px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
}
.metacloudimageborder {
    position: fixed;
    height: 6.05%;
    top: 58.21%;
    bottom: 35.75%;
    left: 19px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
}
.inshapeimageborder {
    position: fixed;
    height: 6.05%;
    top: 75.59%;
    bottom: 18.36%;
    left: 21px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
}
.b {
    position: fixed;
    height: 1.19%;
    width: calc(100% - 67px);
    top: 38.01%;
    left: 34px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
}
.b1 {
    position: fixed;
    height: 1.51%;
    width: calc(100% - 67px);
    top: 55.83%;
    left: 31px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
}
.b2 {
    position: fixed;
    height: 1.19%;
    width: calc(100% - 67px);
    top: 73.54%;
    left: 32px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
}
.bovinverse1 {
    position: fixed;
    height: 0.86%;
    top: 34.02%;
    bottom: 65.12%;
    left: 27px;
    border-radius: 10px;
    background-color: #fff;
    width: 130px;
}
.metacloud1 {
    position: fixed;
    height: 0.86%;
    top: 69.55%;
    bottom: 29.59%;
    left: 25px;
    border-radius: 10px;
    background-color: #fff;
    width: 155px;
}
.inshape1 {
    position: fixed;
    height: 0.86%;
    top: 86.93%;
    bottom: 12.2%;
    left: 25px;
    border-radius: 10px;
    background-color: #fff;
    width: 155px;
}
.metacloudimageIcon {
    position: fixed;
    height: 4.75%;
    top: 58.86%;
    bottom: 36.39%;
    left: 25px;
    max-height: 100%;
    width: 45px;
    object-fit: cover;
}
.inshapeimageIcon {
    position: fixed;
    height: 3.78%;
    top: 76.89%;
    bottom: 19.33%;
    left: 31px;
    max-height: 100%;
    width: 32px;
    object-fit: cover;
}
.bovinverseimageIcon {
    position: fixed;
    height: 5.72%;
    top: 22.79%;
    bottom: 71.49%;
    left: 18px;
    max-height: 100%;
    width: 61px;
    object-fit: cover;
}
.chirplayimageIcon {
    position: fixed;
    height: 4.64%;
    top: 41.04%;
    bottom: 54.32%;
    left: 26px;
    max-height: 100%;
    width: 42px;
    object-fit: cover;
}
.ico4 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 926px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    color: #fff;
    font-family: Krub;
}

