


.buttonsBackground {
  position: fixed;
  height: 8.18%;
  width: 100%;
  bottom: 0%;

 
}


.homeButtonIcon {
  position: fixed;
  height: 3.89%;
  width: 8.64%;
 
  right: 84.81%;
  bottom: 1.94%;
  left: 6.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.notificationButtonIcon {
  position: fixed;
  height: 4.05%;
  width: 7.45%;
 
  right: 7.85%;
  bottom: 2.02%;
  left: 84.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stackButtonIcon {
  position: fixed;
  height: 4.52%;
  width: 9.11%;
  
  right: 23.6%;
  bottom: 1.50%;
  left: 67.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cursorbuttonsIcon {
  position: fixed;
  height: 1.63%;
  width: 5.16%;
  bottom: 6.3%;
  left: 48.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icoButtonIcon {
  position: fixed;
  height: 7.34%;
  width: 27.8%;
  
  right: 53.97%;
  bottom: 0.44%;
  left: 18.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nftButtonIcon {
  position: fixed;
  height: 6.7%;
  width: 26.64%;
 
  right: 35.75%;
  bottom: 0.4%;
  left: 37.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.nftimageboxIcon {
  position: fixed;
  height: 38.57%;
  width: calc(100% - 2px);
  top: 27.32%;
  right: 2px;
  bottom: 34.1%;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nftboxBack2Icon {
  position: fixed;
  height: 22.43%;
  width: 100%;
  top: 50.94%;
  right: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nftboxBack1Icon {
  position: fixed;
  height: 22.43%;
  width: 100%;
  top: 23.86%;
  right: 0px;
  
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.discoverExclusive {
  position: fixed;
  height: 3.06%;
  width:100%;
  top: 68.92%;
  left: 20%;
  display: inline-block;
}
.nfts {
  position: fixed;
  height: 13.09%;
  width: calc(100% - 105px);
  top: 69.83%;
  left: 20%;
  font-size: 80px;
  display: inline-block;
  text-shadow: 0px 3px 5px 4px #fff;
}
.comingSoonIcon {
  position: fixed;
  height: 29.9%;
  width: calc(100% + 1px);
  top: 3.1%;
  right: 2px;
  bottom: 65%;
  left: -3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.nft7 {
  width: 100%;
  position: fixed;
  background-color: #000;
  height: 926px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Krub;
}

