.profilerectangle {
    position: absolute;
    top: 58px;
    left: 14px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 140px;
    height: 39px;
}
.walletButton {
    position: absolute; /* Ensures it floats over other elements */
    top: 58px;
    Right: 14px;
  }
  
  .walletButton button {
    background-color: #20232a; /* Matches dark UI */
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
.walletrectangle {
    position: absolute;
    top: 57px;
    left: 245px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 172px;
    height: 40px;
}
.userlogoIcon {
    position: absolute;
    height: 4.63%;
    width: 10.49%;
    top: 6.06%;
    right: 86.44%;
    bottom: 89.31%;
    left: 3.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.wxyz {
    position: absolute;
    top: 68px;
    left: 76px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    width: 51px;
    height: 22px;
}
.connectWallet {
    position: absolute;
    top: 69px;
    left: 254px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    width: 135px;
    height: 22px;
}
.useropenicon {
    position: absolute;
    height: 0.97%;
    width: 1.59%;
    top: 7.83%;
    right: 68.18%;
    bottom: 91.2%;
    left: 30.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.walleticon {
    position: absolute;
    height: 2.06%;
    width: 4.91%;
    top: 7.37%;
    right: 5.72%;
    bottom: 90.57%;
    left: 89.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.notificationrectangle {
    position: absolute;
    top: 126px;

}
.notifications {
    position: absolute;
    top: 145px;
    left: 54px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 18px;
}
.notificationtexticon {
    position: absolute;
    height: 2.87%;
    width: 5.56%;
    top: 15.28%;
    right: 89.16%;
    bottom: 81.85%;
    left: 5.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.newicolaunchrectangle {
    position: absolute;
    top: 210px;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
    width: 399px;
    height: 89px;
}
.newicolaunchrectangle1 {
    position: absolute;
    top: 706px;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
    width: 399px;
    height: 89px;
}
.generalalertrectangle {
    position: absolute;
    top: 409px;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
    width: 399px;
    height: 89px;
}
.updatesrectangle {
    position: absolute;
    top: 309px;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
    width: 399px;
    height: 89px;
}
.updatesrectangle1 {
    position: absolute;
    top: 508px;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
    width: 399px;
    height: 89px;
}
.updatesrectangle2 {
    position: absolute;
    top: 607px;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
    width: 399px;
    height: 89px;
}
.newicolaunchsidebar {
    position: absolute;
    top: 210px;
    left: 17px;
    background-color: #ffe100;
    width: 7px;
    height: 89px;
}
.newicolaunchsidebar1 {
    position: absolute;
    top: 706px;
    left: 17px;
    background-color: #ffe100;
    width: 7px;
    height: 89px;
}
.generalalertsidebar {
    position: absolute;
    top: 409px;
    left: 17px;
    background-color: #f13e11;
    width: 7px;
    height: 89px;
}
.updatessidebar {
    position: absolute;
    top: 309px;
    left: 17px;
    background-color: #00d9ff;
    width: 7px;
    height: 89px;
}
.updatessidebar1 {
    position: absolute;
    top: 508px;
    left: 17px;
    background-color: #00d9ff;
    width: 7px;
    height: 89px;
}
.updatessidebar2 {
    position: absolute;
    top: 607px;
    left: 17px;
    background-color: #00d9ff;
    width: 7px;
    height: 89px;
}
.newicolaunchellipse {
    position: absolute;
    top: 226px;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #ffe100;
    width: 56px;
    height: 56px;
}
.newicolaunchellipse1 {
    position: absolute;
    top: 722px;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #ffe100;
    width: 56px;
    height: 56px;
}
.generalalertsidebarellipse {
    position: absolute;
    top: 425px;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #f13e11;
    width: 56px;
    height: 56px;
}
.updatesellipse {
    position: absolute;
    top: 325px;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #00d9ff;
    width: 56px;
    height: 56px;
}
.updatesellipse1 {
    position: absolute;
    top: 524px;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #00d9ff;
    width: 56px;
    height: 56px;
}
.notification6Child {
    position: absolute;
    top: 623px;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #00d9ff;
    width: 56px;
    height: 56px;
}
.newIcoLaunches {
    margin: 0;
}
.newIcoLaunchesContainer1 {
    width: 100%;
}
.newIcoLaunchesContainer {
    position: absolute;
    top: 227px;
    left: 91px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 227px;
    height: 41px;
}
.newIcoLaunchesContainer2 {
    position: absolute;
    top: 723px;
    left: 91px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 227px;
    height: 41px;
}
.updatesOnUserContainer {
    position: absolute;
    top: 334px;
    left: 46px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 341px;
    height: 29px;
}
.updatesOnUserContainer2 {
    position: absolute;
    top: 533px;
    left: 46px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 341px;
    height: 29px;
}
.updatesOnUserContainer4 {
    position: absolute;
    top: 632px;
    left: 46px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 341px;
    height: 29px;
}
.newIcoLaunchContainer {
    position: absolute;
    top: 256px;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
    height: 26px;
}
.newIcoLaunchContainer2 {
    position: absolute;
    top: 752px;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
    height: 26px;
}
.alertStayUpdated {
    position: absolute;
    top: 455px;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
    height: 26px;
}
.generalAlertsAndContainer {
    position: absolute;
    top: 406px;
    left: 108px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 308px;
    height: 110px;
}
.updateAlertCheck {
    position: absolute;
    top: 355px;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
    height: 26px;
}
.updateAlertCheck1 {
    position: absolute;
    top: 554px;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
    height: 26px;
}
.updateAlertCheck2 {
    position: absolute;
    top: 653px;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
    height: 26px;
}
.newicolaunchicon {
    position: absolute;
    height: 3%;
    width: 6.5%;
    top: 26.05%;
    right: 80.6%;
    bottom: 70.94%;
    left: 12.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.newicolaunchicon1 {
    position: absolute;
    height: 3%;
    width: 6.5%;
    top: 79.62%;
    right: 80.6%;
    bottom: 17.38%;
    left: 12.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.updatesicon {
    position: absolute;
    height: 3.05%;
    width: 9.02%;
    top: 36.81%;
    right: 79.84%;
    bottom: 60.14%;
    left: 11.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.updatesicon1 {
    position: absolute;
    height: 3.05%;
    width: 9.02%;
    top: 57.99%;
    right: 80%;
    bottom: 38.96%;
    left: 10.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.updatesicon2 {
    position: absolute;
    height: 3.05%;
    width: 9.02%;
    top: 68.68%;
    right: 80%;
    bottom: 28.27%;
    left: 10.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.alerticon {
    position: absolute;
    height: 3.42%;
    width: 8.57%;
    top: 46.9%;
    right: 79.82%;
    bottom: 49.67%;
    left: 11.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.downnotificationIcon {
    position: absolute;
    height: 0.81%;
    width: 2.99%;
    top: 87.71%;
    right: 48.95%;
    bottom: 11.48%;
    left: 48.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.buttonsBackground {
    position: absolute;
    top: 855px;


   
    
}
.homeButtonIcon {
    position: absolute;
    height: 3.89%;
    width: 8.64%;
    top: 94.38%;
    right: 85.51%;
    bottom: 1.73%;
    left: 5.84%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.notificationButtonIcon {
    position: absolute;
    height: 4.05%;
    width: 7.45%;
    top: 94.14%;
    right: 8.55%;
    bottom: 1.81%;
    left: 84%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stackButtonIcon {
    position: absolute;
    height: 4.52%;
    width: 9.11%;
    top: 93.84%;
    right: 24.3%;
    bottom: 1.63%;
    left: 66.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icoButtonIcon {
    position: absolute;
    top: 846px;
    left: 75px;
    width: 119px;
    height: 77px;
    object-fit: cover;
    cursor: pointer;
}
.nftButtonIcon {
    position: absolute;
    top: 847px;
    left: 158px;
    width: 114px;
    height: 87px;
    object-fit: cover;
    cursor: pointer;
}
.cursorbuttonsIcon {
    position: absolute;
    height: 1.63%;
    width: 5.16%;
    top: 91.69%;
    right: 10.02%;
    bottom: 6.68%;
    left: 84.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.notification6 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 926px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Krub;
}

