.profilerectangle {
    position: absolute;
    height: 4.21%;
    top: 2.81%;
    bottom: 92.98%;
    left: 14px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 140px;
}
.walletrectangle {
    position: absolute;
    height: 4.32%;
    top: 2.7%;
    right: 11px;
    bottom: 92.98%;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 172px;
}
.userlogoIcon {
    position: absolute;
    height: 3.83%;
    top: 3.25%;
    bottom: 92.92%;
    left: 22px;
    max-height: 100%;
    width: 38.5px;
}
.wxyz {
    position: absolute;
    height: 2.38%;
    top: 3.89%;
    left: 76px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    width: 51px;
}
.walletButton {

    position: absolute;
    height: 4.22%;
    top: 2.92%;
    bottom: 92.87%;
   
    width: 140px;
    right: 2%;
 
  }
  .buttonsBackground {
    position: fixed;
    height: 8.18%;
    width: 100%;
    bottom: 0%;
  
   
  }
.homeButtonIcon {
    position: fixed;
    height: 3.89%;
    width: 8.64%;
   
    right: 84.81%;
    bottom: 1.94%;
    left: 6.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.notificationButtonIcon {
    position: fixed;
    height: 4.05%;
    width: 7.45%;
   
    right: 7.85%;
    bottom: 2.02%;
    left: 84.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stackButtonIcon {
    position: fixed;
    height: 4.52%;
    width: 9.11%;
    
    right: 23.6%;
    bottom: 1.50%;
    left: 67.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.cursorbuttonsIcon {
    position: fixed;
    height: 1.63%;
    width: 5.16%;
    bottom: 6.3%;
    right: 8.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icoButtonIcon {
    position: fixed;
    height: 7.34%;
    width: 27.8%;
    
    right: 53.97%;
    bottom: 0.44%;
    left: 18.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.nftButtonIcon {
    position: fixed;
    height: 6.7%;
    width: 26.64%;
   
    right: 35.75%;
    bottom: 0.4%;
    left: 37.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.useropenicon {
    position: absolute;
    height: 0.97%;
    top: 4.37%;
    bottom: 94.65%;
    left: 129.38px;
    max-height: 100%;
    width: 6.8px;
    object-fit: contain;
}
.walleticon {
    position: absolute;
    height: 2.06%;
    top: 3.91%;
    right: 24.5px;
    bottom: 94.03%;
    max-height: 100%;
    width: 21px;
}
.notificationrectangle {
    position: fixed;
    height: 9.61%;
    width: 100%;
    top: 12.68%;
    right: 0px;
   
    left: 0px;

}
.notifications {
    position: fixed;
    height: 1.94%;
    top:16%;
    left: 54px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 164px;
}
.notificationtexticon {
    position: fixed;
    height: 2.87%;
    top: 15.49%;
    bottom: 84.44%;
    left: 22.59px;
    max-height: 100%;
    width: 23.8px;
}
.newicolaunchrectangle {
    position: fixed;
    height: 9.61%;
    width: calc(100% - 29px);
    top: 22.68%;
    right: 12px;
    bottom: 67.71%;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
}
.newicolaunchrectangle1 {
    position: fixed;
    height: 9.61%;
    width: calc(100% - 29px);
    top: 76.24%;
    right: 12px;
    bottom: 14.15%;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
}
.generalalertrectangle {
    position: fixed;
    height: 9.61%;
    width: calc(100% - 29px);
    top: 44.17%;
    right: 12px;
    bottom: 46.22%;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
}
.updatesrectangle {
    position: fixed;
    height: 9.61%;
    width: calc(100% - 29px);
    top: 33.37%;
    right: 12px;
    bottom: 57.02%;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
}
.updatesrectangle1 {
    position: fixed;
    height: 9.61%;
    width: calc(100% - 29px);
    top: 54.86%;
    right: 12px;
    bottom: 35.53%;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
}
.updatesrectangle2 {
    position: fixed;
    height: 9.61%;
    width: calc(100% - 29px);
    top: 65.55%;
    right: 12px;
    bottom: 24.84%;
    left: 17px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff6f6;
}
.newicolaunchsidebar {
    position: fixed;
    height: 9.61%;
    top: 22.68%;
    bottom: 67.71%;
    left: 17px;
    background-color: #ffe100;
    width: 7px;
}
.newicolaunchsidebar1 {
    position: fixed;
    height: 9.61%;
    top: 76.24%;
    bottom: 14.15%;
    left: 17px;
    background-color: #ffe100;
    width: 7px;
}
.generalalertsidebar {
    position: fixed;
    height: 9.61%;
    top: 44.17%;
    bottom: 46.22%;
    left: 17px;
    background-color: #f13e11;
    width: 7px;
}
.updatessidebar {
    position: fixed;
    height: 9.61%;
    top: 33.37%;
    bottom: 57.02%;
    left: 17px;
    background-color: #00d9ff;
    width: 7px;
}
.updatessidebar1 {
    position: fixed;
    height: 9.61%;
    top: 54.86%;
    bottom: 35.53%;
    left: 17px;
    background-color: #00d9ff;
    width: 7px;
}
.updatessidebar2 {
    position: fixed;
    height: 9.61%;
    top: 65.55%;
    bottom: 24.84%;
    left: 17px;
    background-color: #00d9ff;
    width: 7px;
}
.newicolaunchellipse {
    position: fixed;
    height: 6.05%;
    top: 77.97%;
    bottom: 15.98%;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #ffe100;
    width: 56px;
}
.generalalertsidebarellipse {
    position: fixed;
    height: 6.05%;
    top: 45.9%;
    bottom: 48.06%;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #f13e11;
    width: 56px;
}
.updatesellipse {
    position: fixed;
    height: 6.05%;
    top: 35.1%;
    bottom: 58.86%;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #00d9ff;
    width: 56px;
}
.updatesellipse1 {
    position: fixed;
    height: 6.05%;
    top: 56.59%;
    bottom: 37.37%;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #00d9ff;
    width: 56px;
}
.notification6Child {
    position: fixed;
    height: 6.05%;
    top: 67.28%;
    bottom: 26.67%;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #00d9ff;
    width: 56px;
}
.newIcoLaunches {
    font-size: 1.3rem;
    
}
.newIcoLaunchesContainer1 {
    width: 100%;
}
.newIcoLaunchesContainer {
    position: fixed;
    height: 4.43%;
    top: 24.51%;
    left: 91px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 226px;
}
.newIcoLaunchesContainer2 {
    position: fixed;
    height: 4.43%;
    top: 78.08%;
    left: 91px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 227px;
}
.updatesOnUserContainer {
    position: fixed;
    height: 3.13%;
    top: 36.07%;
    left: 46px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 341px;
}
.updatesOnUserContainer2 {
    position: fixed;
    height: 3.13%;
    top: 57.56%;
    left: 46px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 341px;
}
.updatesOnUserContainer4 {
    position: fixed;
    height: 3.13%;
    top: 68.25%;
    left: 46px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 341px;
}
.newIcoLaunchContainer {
    position: fixed;
    height: 2.81%;
    top: 27.65%;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 297px;
}
.newIcoLaunchContainer2 {
    position: fixed;
    height: 2.81%;
    top: 81.21%;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
}
.alertStayUpdated {
    position: fixed;
    height: 2.81%;
    top: 49.14%;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
}
.generalAlertsAndContainer {
    position: fixed;
    height: 11.88%;
    top: 43.84%;
    left: 73px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    width: 308px;
}
.updateAlertCheck {
    position: fixed;
    height: 2.81%;
    top: 38.34%;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
}
.updateAlertCheck1 {
    position: fixed;
    height: 2.81%;
    top: 59.83%;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
}
.updateAlertCheck2 {
    position: fixed;
    height: 2.81%;
    top: 70.52%;
    left: 119px;
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    align-items: center;
    width: 259px;
}
.newicolaunchellipse1 {
    position: fixed;
    height: 6.05%;
    top: 24.41%;
    bottom: 69.55%;
    left: 40px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #ffe100;
    width: 56px;
}
.newicolaunchicon {
    position: fixed;
    height: 3%;
    top: 26.05%;
    bottom: 70.94%;
    left: 55.25px;
    max-height: 100%;
    width: 27.8px;
}
.newicolaunchicons {
    position: fixed;
    height: 3%;
    bottom: 17.5%;
    
    left: 55.25px;
    max-height: 100%;
    width: 27.8px;
}
.newicolaunchicon1 {
    position: fixed;
    height: 3%;
    top: 79.62%;
    bottom: 17.38%;
    left: 55.25px;
    max-height: 100%;
    width: 27.8px;
}
.updatesicon {
    position: fixed;
    height: 3.05%;
    top: 36.81%;
    bottom: 60.14%;
    left: 47.68px;
    max-height: 100%;
    width: 38.6px;
}
.updatesicon1 {
    position: fixed;
    height: 3.05%;
    top: 57.99%;
    bottom: 38.96%;
    left: 47px;
    max-height: 100%;
    width: 38.6px;
}
.updatesicon2 {
    position: fixed;
    height: 3.05%;
    top: 68.68%;
    bottom: 28.27%;
    left: 47px;
    max-height: 100%;
    width: 38.6px;
}
.alerticon {
    position: fixed;
    height: 3.42%;
    top: 46.9%;
    bottom: 49.67%;
    left: 49.67px;
    max-height: 100%;
    width: 36.7px;
}
.downnotificationIcon {
    position: fixed;
    height: 0.81%;
    width: 2.99%;
    top: 87.71%;
    right: 48.95%;
    bottom: 11.48%;
    left: 48.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.notification6 {
    width: 100%;
    position: fixed;
    background-color: #000;
    height: 926px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Krub;
}



