.buttonsBackground {
  position: fixed;
  height: 8.18%;
  width: 100%;
  bottom: 0%;

 
}
.homeButtonIcon {
  position: fixed;
  height: 3.89%;
  width: 8.64%;
 
  right: 84.81%;
  bottom: 1.94%;
  left: 6.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.notificationButtonIcon {
  position: fixed;
  height: 4.05%;
  width: 7.45%;
 
  right: 7.85%;
  bottom: 2.02%;
  left: 84.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stackButtonIcon {
  position: fixed;
  height: 4.52%;
  width: 9.11%;
  
  right: 23.6%;
  bottom: 1.50%;
  left: 67.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cursorbuttonsIcon {
  position: fixed;
  height: 1.63%;
  width: 5.16%;
  bottom: 6.3%;
  right: 26.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icoButtonIcon {
  position: fixed;
  height: 7.34%;
  width: 27.8%;
  
  right: 53.97%;
  bottom: 0.44%;
  left: 18.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nftButtonIcon {
  position: fixed;
  height: 6.7%;
  width: 26.64%;
 
  right: 35.75%;
  bottom: 0.4%;
  left: 37.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.stackimageIcon {
  position: absolute;
  height: 48.71%;
  width: 100%;
  top: 24.79%;
  right: 0px;
  bottom: 26.5%;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.stackBack1Icon {
  position: absolute;
  height: 22.21%;
  width: 100%;
  top: 20.35%;
  right: 0px;
  
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.stackBack2Icon {
  position: absolute;
  height: 14.37%;
  width: 100%;
  top: 60.41%;
  right: 0px;
  bottom: 25.22%;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.comingSoonBackRectangle {
  position: absolute;
  top: 0px;
  left: 46px;
  width: 337px;
  height: 297px;
}
.earn {
  font-size: 32px;
}
.earnRewardsEffortlesslyWith {
  margin: 0;
}
.options {
  font-size: 24px;
}
.earnRewardsEffortlesslyContainer {
  position: absolute;
  width: calc(100% - 32px);
  top: calc(50% + 258px);
  left: 25px;
  font-weight: 600;
  display: inline-block;
  height: 84px;
}
.comingSoonIcon {
  position: absolute;
  height: 33.69%;
  width: 100%;
  top: 3.43%;
  right: 0px;
  bottom: 62.87%;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.stack9 {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 926px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Krub;
}

